.container {
    margin: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.section-left {
    max-width: 300px;
    max-height: 600px;
    padding: 10px;
    margin-left: 10px;
}

.section-middle {
    padding: 10px;
}

.img {
    width: 350px;
}

.intro-card {
    max-width: 600px;;
}

.content-pad {
    padding: 5px;
}
