<div class="container">
  <div class="section-left">
    <img class="img" src="assets/img/Aman_Vidhan_Sabha.jpeg" />
  </div>

  <div class="section-middle">
    <p>My name is Aman Gupta.</p>
    <p>
      I am currently working on full stack, primarily focused on front-end using
      angular, in the engineering team at CSG International.
    </p>
    <p>I like building apps and new features. Also, I like problem solving.</p>
    <p>I also love talking to fellow developers or young folks.</p>
    <p>In recent past, I delivered a few talks in some tech spaces and enjoyed it the most.</p>
    <p>Currently, I am looking for mid or senior development roles.</p>
    <p>Hit Contact tab, if you have a relevant opportunity for me or want me to speak in your college or tech space. </p>
  </div>
</div>
